body {
    margin-top: 0px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;    
  }

  #mainheader {
    background-color: rgb(38, 56, 58);
  }   

  header {
      background-color:lightgray;
  }

  nav {
      height: 60px;
      width: 1000px;      
      margin: 0 auto 20px;
  }

  div {
      width: 1000;
      margin-left: auto;
      margin-right: auto;
  }

  #leftmenu {
      float: left;
      width: 30%;
      margin-bottom: 20px;
      background-color: lightgray;
  }

  h4 {
      text-align: center;
  }

  .searchbox {
      padding: 5px;
      margin: 10px 10px;
      width: 200px;
  }

  #main {
      float: right;
      width: 70%;
      margin-bottom: 20px;
  }

  h1 {
      font-size: 40px;
      color: rgb(38, 56, 58);
  }

  h3 {
      text-align: left;
  }

  table,
  td,
  th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }

  footer {
      clear: both;
      width: 100%;
  }